---
---

#header nav li a.mainlink {
    color: white;
    border: none;
    background: none;
    //border-radius: 2px;
    box-shadow: none;
    background-color: none;
    padding: 10px 12px;
    margin-top: 6px;
    line-height: 14px;
    font-size: 14px;
    display: inline-block;
    text-align: center;
}

@import "{{ site.theme }}";
